.first-section {
    margin: 85px 80px 0px 80px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: space-between;
    column-gap: 90px;
}

.person-image{
    width: 220px;
    height: 100%;
    margin-left: 10px;
}

.border{
    border-left: 1px solid red;
}

.stay-focused{
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
    color: #000000;
    margin-left: 5px;
}

.mission-2022{
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
    color: #FFAD5A;  
    margin-top: 15px; 
    margin-left: 5px;
}

.mission-description{
    font-family: 'Poppins', sans-serif;
    font-size: 9px;
    font-weight: 500; 
    font-style: normal;
    color: #333333;
    margin-top: 15px;
    line-height: 1.6;
}

.button{
    margin-top: 12px;
    margin-bottom: 12px;
    height: 25px;
    width: 90px;
    font-family: 'Poppins', sans-serif;
    font-size: 8px;
    font-weight: 500;   
    font-style: normal;
    background-color: #FF5959;
    color: #ffffff;
    padding: 4px 10px 4px 10px;
    border-radius: 5px;
    border: none;
}


.more-text{
    font-family: 'Poppins', sans-serif;
     font-size: 9px;
    font-weight: 500; 
    font-style: normal;
    color: #333333;

}
