.second-section {
    margin: 85px 80px 0px 80px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 25px;
    display: flex;
    flex-direction: column;

}

.main {
    display: block;
    text-align: center;
    font-weight: 600;
}

.highlight {
    color: orange;
}

.grid-view {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 35px;
    row-gap: 20px;
    justify-content: space-between;
    margin-top: 30px;
    height: max-content;
    padding: 40px 100px 50px 80px;
}

.box-1,
.box-2,
.box-3 {
    border-radius: 20px;
    padding: 20px 10px 10px 10px;
}

.box-1 {
    background-color: rgb(234, 250, 255);
}

.box-2 {
    background-color: rgb(252, 237, 244);

}

.box-3 {
    background-color: rgb(255, 243, 230);
}

.illustrator {
    width: 230px;
    height: 230px;
    margin-top: 20px;
    padding-left: 20px;
    max-width: 100%;
}

.description,
.title {
    text-align: start;
    padding-left: 10px;
    padding-right: 10px;
}

.description,
.image-description {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 500;
    font-style: normal;
    color: #333333;
    line-height: 1.6;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 600;
}

.header1,
.header2 {
    font-weight: 600;
}

.image-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 50px 80px 0px 100px;
}

.coding-image-box,
.project-image-box {
    position: relative;
}

.coding-image-box {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: space-between;
    margin: 0;
}

.project-image-box {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: space-between;
    margin-top: 50px;
}

.coding-shape-image {
    display: flex;
    position: absolute;
    top: 45px;
    left: -90px;
    width: 200px;
    height: 200px;
    z-index: -1;
}


.project-shape-image {
    display: flex;
    position: absolute;
    top: 45px;
    right: -90px;
    left: auto;
    width: 210px;
    height: 200px;
    z-index: -1;
}

.coding-image {
    width: 500px;
    height: auto;
    margin-right: 100px;
}

.project-image {
    width: 500px;
    height: auto;
    margin-left: 100px;
}

.button {
    margin-top: 12px;
    margin-bottom: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: #FF5959;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    text-align: center;
}


@media (max-width: 1000px) {

    .second-section {
        margin: 50px 20px 0px 20px;
        font-size: 18px;
    }

    .main {
        font-size: 30px;
    }

    .grid-view {
        padding: 20px 0px 0px 0px;
        column-gap: 10px;
        row-gap: 18px;
        width: 100%;
        grid-template-columns: auto;
    }

    .illustrator {
        width: 160px;
        height: auto;
        padding-left: 0;
        margin: 16px auto 0;
        display: block;
    }

    .title {
        font-size: 18px;
    }

    .description,
    .image-description {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .header1,
    .header2 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .image-description {
        margin-bottom: 20px;
        font-size: 12px;
        margin-left: -10px;
    }

    .coding-image,
    .project-image {
        width: 200px;
        height: 200px;
    }

    .coding-image {
        margin-right: 20px;
        margin-left: -10px;
    }

    .project-image {
        margin-left: 20px;
        margin-right: -10px;
    }

    .coding-shape-image,
    .project-shape-image {
        width: 120px;
        height: 120px;
        margin-right: -10px;
    }

    .coding-shape-image {
        top: 30px;
        left: -60px;
    }

    .project-shape-image {
        top: 30px;
        right: -60px;
        left: auto;
    }



}

@media(min-width: 1000px) and (max-width: 1500px) {

    .second-section {
        margin: 70px 50px 0px 50px;
        font-size: 22px;
    }

    .main {
        font-size: 44px;
    }

    .grid-view {
        padding: 30px 40px 40px 40px;
        column-gap: 22px;
    }

    .illustrator {
        width: 200px;
        height: auto;
    }

    .title {
        font-size: 22px;
    }

    .description,
    .image-description {
        font-size: 15px;
    }

    .header1,
    .header2 {
        font-size: 25px;
        margin-bottom: 10px;
    }

    .image-description {
        margin-bottom: 25px;
    }

    .button {
        width: 210px;
        padding: 8px 14px 8px 14px;
    }

}

@media(min-width: 1500px) {

    .second-section {
        margin: 85px 80px 0px 80px;
        font-size: 25px;
    }

    .main {
        font-size: 50px;
    }

    .grid-view {
        padding: 40px 100px 50px 80px;
        column-gap: 35px;
    }

    .illustrator {
        width: 230px;
        height: 230px;
    }

    .title,
    .header1,
    .header2 {
        font-size: 24px;
    }

    .description,
    .image-description {
        font-size: 17px;
    }

    .header1,
    .header2 {
        font-size: 28px;
        margin-bottom: 10px;
    }

    .image-description {
        margin-bottom: 25px;
    }

    .button {
        width: 240px;
        padding: 14px 20px 14px 20px;
    }
}