.third-section {
    margin: 150px 50px 100px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main {
    display: block;
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
}

.highlight {
    color: orange;
}

.black-box {
    background-color: black;
    display: block;
    margin-top: 40px;
    width: 100%;
    color: white;
    text-align: center;
}

.title,
.bottom-line {
    text-align: center;
}

.web-development {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px 20px 0px 20px;
}

.web-title {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-style: normal;
    color: #000000;
}

.web-description {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #333333;
    margin-top: 15px;
    line-height: 1.6;
    width: 70%;
}

.web-button {
    margin-top: 12px;
    margin-bottom: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: #FF5959;
    color: #ffffff;
    border-radius: 5px;
    border: none;
}

@media (max-width: 1000px) {
    .main {
        font-size: 25px;
    }

    .black-box {
        height: 80px;

    }

    .title {
        font-size: 16px;
        padding: 15px 0px 0px 0px;
    }

    .bottom-line {
        font-size: 9px;
    }

    .web-dev-image {
        width: 200px;
        height: auto;
        margin-right: 10px;
    }

    .web-title {
        font-size: 22px;
    }

    .web-description,
    .web-button {
        font-size: 7px;
    }

    .web-button {
        width: 50px;
        padding: 8px 10px 8px 10px;
    }
}


@media(min-width: 1000px) and (max-width: 1500px) {
    .main {
        font-size: 44px;
    }

    .black-box {
        height: 120px;
    }

    .title {
        font-size: 30px;
        padding-top: 10px;
    }

    .bottom-line {
        font-size: 15px;
    }

    .right-side {
        margin-left: 30px;
    }

    .web-dev-image {
        width: 400px;
        height: auto;
        margin-left: 40px;
    }

    .web-title {
        font-size: 30px;
        line-height: 1.5;
    }

    .web-description {
        font-size: 15px;
    }

    .web-button {
        width: 110px;
        padding: 10px 15px 10px 15px;
    }

}


@media(min-width: 1500px) {
    .main {
        font-size: 50px;
    }

    .black-box {
        width: 100%;
        height: 200px;
        padding-top: 20px;
        vertical-align: middle;
    }

    .title {
        font-size: 36px;
        padding-top: 35px;
    }

    .bottom-line {
        font-size: 24px;
        padding-top: 20px;
    }

    .web-dev-image {
        width: 500px;
        height: auto;
        margin-left: 120px;
    }

    .web-title {
        font-size: 30px;
        line-height: 1.8;
    }

    .web-description,
    .web-button {
        font-size: 17px;
    }

    .web-button {
        width: 120px;
        padding: 14px 25px 14px 25px;
    }

}